.dotnet
.Microsoft.DotNet.ImageBuilder
**/.azurite
**/.config
**/.github
**/.vs
**/.vscode
**/*-release
**/bin
**/dev/dockerfiles
**/dev/init.sh
**/dev/make
**/dev/nuget
**/dev/seq
**/dev/sql/*.bak
**/docs
**/iam-release
**/infrastructure
**/jobs-release
**/node_modules
**/obj
**/out
**/sql
**/tests
**/.nuxt
node_modules
